# Auto detect text files and perform LF normalization
* text=auto

# Code files should always use LF
*.cs text eol=lf
*.shader text eol=lf

# Binary files (no line ending normalization)
*.png binary
*.jpg binary
*.jpeg binary
*.fbx binary
*.unity binary
*.prefab binary
*.asset binary
*.mat binary
*.anim binary
*.controller binary
*.mask binary
*.ttf binary